---
import Layout from '../Components/Layout.astro';
import PromptBuilder from '../Components/PromptBuilder.astro';
---

<Layout title="Mi Constructor de Prompts">
	<main class="min-h-screen bg-slate-200 py-10">
		<PromptBuilder />
	</main>
</Layout>