---
import Footer from "./Footer.astro"
import '../styles/global.css';

---

<!DOCTYPE html>
<html lang="es" class="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="Dnv-Yd3IEPR3c7u4WKLnk3w0naQkA-1KoWMdtHHQnas" />
    <link rel="icon" type="image/png" href="/IA.png" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Directorio IA: Encuentra tu mejor herramienta 2026</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<body class="bg-[#0B1120] font-['Inter',sans-serif] antialiased min-h-screen flex flex-col">
    <slot/>
    </body>
    </head>
    <Footer/>
</html>